.app-auth {
  max-width: 320px;
  margin: 0 auto;
}

.field {
  display: block;
}

.button {
  display: block;
  width: 100%;
}

.forgot {
  text-align: right;
  position: relative;
  margin: -16px 0 16px;
}

.sign-up {
  text-align: center;
  margin-top: 16px;
}
