.table {
  width: 100%;

  ::ng-deep {
    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
      padding: 8px .75em
    ;

      &._answers {
        text-align: center;

        .mat-chip-list-wrapper {
          justify-content: center;
        }
      }
    }
  }
}

.author {
  white-space: nowrap;
}
