<div *ngIf="loading" class="spinner">
  <mat-spinner diameter="32"></mat-spinner>
</div>
<div
  *ngIf="answers.length"
  class="answers"
>
  <mat-card
    *ngFor="let answer of answers;"
    [matBadge]="answer.rating.toString()"
    class="answer"
    matBadgePosition="before"
    matBadgeColor="warn"
  >
    <mat-card-title [innerHTML]="answer.author.name"></mat-card-title>
    <mat-card-subtitle>{{ answer.creationDate.toLocaleString() }}</mat-card-subtitle>
    <mat-card-content
      class="content"
      [innerHTML]="answer.body"
    ></mat-card-content>
  </mat-card>
</div>
