<div class="app-search">
  <form
    class="form"
    [formGroup]="searchForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field class="field" appearance="fill">
      <mat-label>Query</mat-label>
      <input type="search" formControlName="query" matInput>
    </mat-form-field>
    <button
      class="button"
      type="submit"
      color="primary"
      mat-raised-button
    >
      Search
    </button>
  </form>
  <div *ngIf="searching" class="spinner">
    <mat-spinner diameter="32"></mat-spinner>
  </div>
  <app-results
    *ngIf="results.length"
    [results]="results"
    (authorClick)="onAuthorClick($event)"
    (questionClick)="onQuestionClick($event)"
    (tagClick)="onTagClick($event)"
  >
  </app-results>
</div>
