<div class="app-search">
  <form
    class="form"
    [formGroup]="searchForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field class="field" appearance="fill">
      <mat-label>Query</mat-label>
      <input type="search" formControlName="query" matInput>
    </mat-form-field>
    <button
      class="button"
      type="submit"
      color="primary"
      mat-raised-button
    >
      Search
    </button>
  </form>
  <div *ngIf="searching" class="spinner">
    <mat-spinner diameter="32"></mat-spinner>
  </div>
  <div *ngIf="results.length" class="results">
    <app-results
      [results]="results"
      (cellClick)="onCellClick($event)"
    >
    </app-results>
    <div
      *ngIf="false"
      class="info"
    >
      <app-results [results]="results"></app-results>
    </div>
  </div>
</div>
